.top-container{
  display: flex;
  align-items: center;
}

.skill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 20px;


}

.skill-card {
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(230, 32, 220, 0.1);
  padding: 10px;
  text-align: center;
  width: 200px;


}

.skill-heading {
  text-align: start;
  font-size: 40px;
  margin-left: 20px;
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
}

.skill-name {
  color: rgb(141, 23, 141);
  font-size: 24px;
  margin-bottom: 12px;



}

.skill-lang {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.tech-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80px;
}

.skill-icon {
  font-size: 30px;
  margin-bottom: 5px;
}

.tech-name {
  font-size: 16px;
  color: white;
}

@media screen and (max-width:600px) {
  .skill-heading {
    font-size: 35px;
  }
}