.project-page {
    background-color: white;
    color: black;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 20px;
}

.project-heading {
    text-align: start;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
}

.project-card {
    border: 2px solid black;
    padding: 10px;
    width: 250px;
    height: 300px;
    border-radius: 40px;
}

.project-title {
    text-align: center;
}

.project-description {
    padding: 10px;
    font-size: 17px;
}

@media screen and (max-width:600px) {

    .project-heading{
        font-size: 35px;
        font-weight: 400;
    }
}