.project-page {
  background-color: white;
  color: black;
}

.top-container {
  display: flex;
  align-items: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}

.project-heading {
  text-align: start;
  font-family: "ADLaM Display", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  animation-duration: 2s;
  animation-name: sliding;
}

.project-icon {
  height: 35px;
  width: 35px;
  border: 2px solid rgb(207, 92, 253);
  box-shadow: 0px 0px 1px 1px rgb(207, 92, 253);
  margin-right: 5px;
  border-radius: 50%;
  padding: 5px;
  color: rgb(87, 87, 248);
}

@keyframes sliding {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.project-card {
  padding: 14px;
  width: 250px;
  height: 300px;
  border-radius: 40px;
  /* box-shadow: 2px 2px 3px 3px rgb(85, 2, 85); */
  box-shadow: 1px 1px 3px 3px rgb(85, 2, 85);
}

.project-card:hover{
 background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);;
}

.project-img {
  height: 80px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 4px grey;
  margin: 2px auto;
  display: block;
  justify-content: center;
  margin-bottom: 10px;
}

.project-title {
  text-align: center;
  font-size: 25px;
}

.project-description {
  padding: 5px;
  font-size: 16px;
  margin-top: 8px;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}

.github-link {
  height: 40px;
  display: block;
  justify-content: center;
  margin: 5px auto;
}

@media screen and (max-width: 600px) {
  .project-heading {
    font-size: 35px;
    font-weight: 400;
  }

  .project-card {
    width: 220px;
    height: 300px;
  }

  .project-img {
    height: 70px;
  }

  .project-title {
    font-size: 23px;
  }

  .project-description {
    font-size: 15px;
  }
}
