.about-heading {
    text-align: center;
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.about-container {
    display: flex;
    justify-content: center;
    margin: 6px;
    padding: 10px;
}

.about h1 {
    font-size: 50px;

}

.span-name {
    color: rgb(181, 15, 181);
}

.about p {
    margin-top: 10px;
    font-size: 18px;
    text-align: start;
}

.profile {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 25px;
}

@media screen and (max-width : 600px) {
    .about-heading {
        text-align: end;
        font-size: 35px;
        margin-right: 20px;
    }

    .about h1 {
        font-size: 30px;
    }

    .about p {
        font-size: 14px;
    }

    .profile {
        height: 150px;
        width: 150px;
        margin-top: 20px;

    }

}