.about-container{
    display: flex;
    justify-content: center;
   margin-top: 50px;
   padding: 30px;
}

.about h1{
    font-size: 50px;
}

.about p{
  margin-top: 10px;
  font-size: 18px;
}

.profile{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 25px;
}