.education {
    background-color: white;
    color: black;

}

.top-container{
    display: flex;
    align-items: center;
   
}

.education-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 25px;
}

.edu-heading {
    text-align: start;    
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    animation-duration: 2s;
    animation-name: sliding;
}

@keyframes sliding {
    from{
        margin-left: 100%;
    
    }
    to{
        margin-left: 0%;
    }
    
}  

.education-card {

    border-radius: 50px;
    box-shadow: 1px 1px 3px 3px rgb(85, 2, 85);
    padding: 6px;
    text-align: center;
    width: 350px;
    transition: 0.3s ease-in-out;

}

.education-card:hover {
    transform: scale(1.05);
}

.edu-date {
    font-style: italic;
}

.education-card h2 {
    font-size: 20px;
}

.edu-marks {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width:600px) {
    .edu-heading {
        font-size: 35px;
    }

    .education-card{
        padding: 3px 10px;
        width: 280px;
    }

    .education-card h2{
        font-size: 15px;
    }

    .edu-content{
        font-size: 13px;
    }

    .edu-marks{
        font-size: 14px;
        margin: 5px;
    }
}