.edu-heading{
    font-size: 30px;
    text-align: center;
    margin: 5rem 0;
}

.education-container{
    background-color: rgb(66, 65, 65); 
    /* background-color: rgb(70, 68, 68); */
}

.education-container h2{
    margin-bottom: 10px;
}

.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
}

.timeline-item{
   
    width: 50%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;

}

.timeline-item:nth-last-child(odd){
    padding-right: calc(50%+30px);
   
}

.timeline-item:nth-last-child(even){
    padding-left: calc(50% + 30px);
    
}

/* .timeline-dot{
    height: 21px;
    width: 21px;
    border-radius: 50%;
    box-shadow: 0 0 25px blue;
    position: absolute;
    left: calc(50% - 8px);
    top: 10px;
    
} */

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content{
    border: 3px solid rgb(65, 164, 198);
    padding: 15px 25px;
    border-radius: 4rem;
    box-shadow: 0 0 10px rgb(65, 164, 198);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    /* box-shadow: 0 0 25px ; */
}

.timeline-content h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    
   width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: blueviolet;
}

::-webkit-scrollbar-track{
    background-color:black;
    width: 50px;
}