.contact-headng {
    text-align: start;
       font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    animation-duration: 2s;
    animation-name: sliding;
}

@keyframes sliding {
    from{
        margin-left: 100%;
    
    }
    to{
        margin-left: 0%;
    }
    
}  

.top-container{
    display: flex;
    align-items: center;
   
  }

.contact-para {
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
}

.form-container {
    margin: 20px;
}

form {
    width: 280px;
    height: 300px;
    padding: 15px;
    border: 5px double #5b6658;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px;
    margin-top: 80px;
    background-color: transparent;
}

form h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "ADLaM Display", system-ui;
    font-weight: 400;
    font-style: normal;
}

.field {
    margin: auto 32px;
    margin-top: 15px;
    height: 25px;
    width: 200px;
    border: 3.5px solid rgb(168, 21, 179);
    padding: 5px;

}

.name {
    border-radius: 10px 10px 0 0;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    
}

.email{
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
}

.message {
    height: 40px;
    border-radius: 0 0 10px 10px;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
}

.btn-container {
    text-align: center;

}

.btn-send {
    margin: 16px;
    margin-bottom: 10px;
    padding: 6px 25px;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    background-color: rgb(132, 6, 132);
    color: white;
    cursor: pointer;
}

.btn-send:hover{
    background-color: #b3b3cc;
    color: black;
    border-radius: 14px;
    transition: 0.5s;
}

@media screen and (max-width:600px){
    .contact-para {
        text-align: start;
        margin-left: 20px;
        font-size: 15px;
        margin-top: 8px;
    }    

    .contact-headng{
        font-size: 35px;
    }

    form h1{
        font-size: 24px;
    }

    .name{
        font-size: 13px;
    }

    .email{
        font-size: 13px;
    }

    .message{
        font-size: 13px;
    }
}